* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
body {
    font-weight: 700;
    line-height: 100%;
    font-size: 20px;
    font-family: 'Be Vietnam Pro';
}
header {
    /* display: flex; */
    padding: 20px 0;
    /* justify-content: space-between; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    align-items: center;
}
.button {
    background-color: #E2E2E2;
    border-radius: 8px;
}
#logo {
    width: 200px;
    height: 60px;
}
#menu {
    width: 820px;
    height: 34px;
}
#button {
    width: 120px;
    height: 42px;
}
.container1 {
    justify-content: space-between ;
    gap: 30px;
}
.container {  
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}  
.gray {
    background-color: #F1F1F1;
}
.content {
    width: 1200px;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    row-gap: 25px;
    flex-wrap: wrap;
    flex-direction: row;
}
#content {
    width: 585px;
    height: 267px;
}
#image {
    width: 585px;
    height: 520px;
}
.title {
    width: 600px;
    height: 80px;
    margin-bottom: 40px;
    font-family: 'Lora';
}
.item {
    width: 380px;
    height: 420px;
}
.item-small {
    width: 216px;
    height: 300px;
}
.item-normal {
    width: 277.5px;
    height: 300px;
}
.footer {
    width: 100%;
    background-color: #D9D9D9;
    padding: 20px;
    margin-top: 40px;
}